<<<<<<< HEAD
﻿<link rel="stylesheet" href="~/css/success.css">

<div class="success">
    <p>Tài khoản nhân viên đã được tạo!</p>

    <!-- Form để gửi yêu cầu POST khi nhấn Quay lại -->
    <form action="@Url.Action("AccountNv", "AccountStaff")" method="get">
        @Html.AntiForgeryToken() <!-- Bảo vệ CSRF -->
        <button type="submit">Quay lại</button>
    </form>
</div>
=======
﻿<link rel="stylesheet" href="~/css/success.css">

<div class="success">
    <p>Tài khoản nhân viên đã được tạo!</p>

    <!-- Form để gửi yêu cầu POST khi nhấn Quay lại -->
    <form action="@Url.Action("AccountNv", "AccountStaff")" method="get">
        @Html.AntiForgeryToken() <!-- Bảo vệ CSRF -->
        <button type="submit">Quay lại</button>
    </form>
</div>
>>>>>>> 2cd039424233f099f062a952f82ef6ddcda03b12
