<<<<<<< HEAD
﻿@if (!string.IsNullOrEmpty(Model))
{
    <div style="text-align: center;">
        <h3>Mã QR của giao dịch</h3>
        <img src="@Model" alt="QR Code" style="max-width: 100%; height: auto;" />
    </div>
}
else
{
    <p>Không thể tạo mã QR.</p>
}
=======
﻿<div class="qr-code-container">
    <h3>Mã QR Thanh Toán</h3>
    <img src="@Model" alt="QR Code" style="max-width: 300px;" />
</div>
>>>>>>> 2cd039424233f099f062a952f82ef6ddcda03b12
