
﻿@if (!string.IsNullOrEmpty(Model))
{
    <div style="text-align: center;">
        <h3 style="color:#dd1652;">Mã QR của giao dịch</h3>
        <img src="@Model" alt="QR Code" style="max-width: 100%; height:500px;" />
    </div>
}
else
{
    <p>Không thể tạo mã QR.</p>
}
