<<<<<<< HEAD
﻿<!-- ConfirmEmailNotice.cshtml -->
@{
    ViewBag.Title = "Xác nhận email";
}

<h2>Xác nhận email</h2>
<p>Vui lòng kiểm tra email của bạn để xác nhận tài khoản trước khi đăng nhập.</p>
<p>Nếu bạn không nhận được email, vui lòng kiểm tra trong thư mục spam hoặc yêu cầu gửi lại email xác nhận .</p>
<a asp-area="" asp-controller="Account" asp-action="Login">Quay Lại Trang Login</a>

=======
﻿<!-- ConfirmEmailNotice.cshtml -->
@{
    ViewBag.Title = "Xác nhận email";
}

<h2>Xác nhận email</h2>
<p>Vui lòng kiểm tra email của bạn để xác nhận tài khoản trước khi đăng nhập.</p>
<p>Nếu bạn không nhận được email, vui lòng kiểm tra trong thư mục spam hoặc yêu cầu gửi lại email xác nhận .</p>
<a asp-area="" asp-controller="Account" asp-action="Login">Quay Lại Trang Login</a>

>>>>>>> 2cd039424233f099f062a952f82ef6ddcda03b12
