<<<<<<< HEAD
﻿@{
    Layout = null;
}
@model QLCH_MVC.Models.resetpassword.ForgotPasswordModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/CodeEmail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="contentCode">
        <form class="form" method="post" asp-action="ForgotPassword">
            
            <div class="CodeEmail">
                <div><p style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: rgb(19, 13, 13); font-size: 30px;"><i class="fa-solid fa-envelope fa-bounce" style="--fa-bounce-start-scale-x: 1;--fa-bounce-start-scale-y: 1;--fa-bounce-jump-scale-x: 1;--fa-bounce-jump-scale-y: 1;--fa-bounce-land-scale-x: 1;--fa-bounce-land-scale-y: 1;--fa-bounce-rebound: 0;"></i>&ensp;Reset your password</H3></div>
                <hr>
                <div><p>Enter your user account's verified email address and we will send you a password reset link.</p></div>
                <div class="InterEmail">
                    <input asp-for="Email" placeholder="Nhập Email Của Bạn" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                <br>
                <hr>
                <div class="EmailConfirmation">
                    <div class="BtnExitCode">
                        <button><a asp-area="" asp-controller="Account" asp-action="Login" style="margin-right:40px;text-decoration:none" class="text-blue">Quay Lại</a></button>
                    </div>
                    <div class="BtnEmailCode">
                        <button type="submit" class="manage">Gửi mã</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
=======
﻿@{
    Layout = null;
}
@model QLCH_MVC.Models.resetpassword.ForgotPasswordModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/CodeEmail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="contentCode">
        <form class="form" method="post" asp-action="ForgotPassword">
            
            <div class="CodeEmail">
                <div><p style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: rgb(19, 13, 13); font-size: 30px;"><i class="fa-solid fa-envelope fa-bounce" style="--fa-bounce-start-scale-x: 1;--fa-bounce-start-scale-y: 1;--fa-bounce-jump-scale-x: 1;--fa-bounce-jump-scale-y: 1;--fa-bounce-land-scale-x: 1;--fa-bounce-land-scale-y: 1;--fa-bounce-rebound: 0;"></i>&ensp;Reset your password</H3></div>
                <hr>
                <div><p>Enter your user account's verified email address and we will send you a password reset link.</p></div>
                <div class="InterEmail">
                    <input asp-for="Email" placeholder="Nhập Email Của Bạn" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                <br>
                <hr>
                <div class="EmailConfirmation">
                    <div class="BtnExitCode">
                        <button><a asp-area="" asp-controller="Account" asp-action="Login" style="margin-right:40px;text-decoration:none" class="text-blue">Quay Lại</a></button>
                    </div>
                    <div class="BtnEmailCode">
                        <button type="submit" class="manage">Gửi mã</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
>>>>>>> 2cd039424233f099f062a952f82ef6ddcda03b12
</html>