
﻿@{
    Layout = null;

}
@model QLCH_MVC.Models.LoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="~/css/login.css">
    <style>
        .text-danger {
            color: red; /* Màu chữ cho lỗi */
            font-size: 10px; /* Kích thước chữ */
            font-weight: bold; /* Độ đậm của chữ */
            margin-top: 5px; /* Khoảng cách trên */
            white-space: nowrap; /* Không cho phép xuống dòng */
            margin-right: 5px;
        }

        .alert-danger{
            color: red; /* Màu chữ cho lỗi */
            font-size: 10px; /* Kích thước chữ */
            font-weight: bold; /* Độ đậm của chữ */
            margin-top: 7px; /* Khoảng cách trên */
            white-space: nowrap; /* Không cho phép xuống dòng */
        }
    </style>
</head>



<body>
    <div class="content">
        <img src="~/UI-UX_Web (1)/images/anhnenthungan2.webp">
        <div class="overlay">
            <form method="post" asp-action="Login" class="form">            
                <div class="logo">
                    <span>THL</span><span class="manage">MANAGE</span>
                </div>
               
                <div class="flex-column">
                    <label>Email </label>
                </div>

                <div class="inputForm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 32 32" height="20"><g data-name="Layer 3" id="Layer_3"><path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path></g></svg>
                    <input asp-for="Username" placeholder="Enter your Email" class="input" type="text">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="flex-column">
                    <label>Password </label>
                </div>
                <div class="inputForm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="-64 0 512 512" height="20"><path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"></path><path d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"></path></svg>
                    <input asp-for="Password" placeholder="Enter your Password" class="input" type="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                   
                </div>
                <div>
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.ErrorMessage
                        </div>
                    }
                </div>
               
                <div class="flex-row">
                    <div>
                        <input type="radio">
                        <label for="rememberMe">Remember me </label>
                    </div>
                    <span class="span"><a asp-area="" asp-controller="Account" asp-action="ForgotPassword" class="forgot-password">Quên mật khẩu?</a></span>
                </div>
                <div class="buttonsubmit">
                    <button type="submit" name="role" value="admin" class="button-submit">Sign In with Admin</button>
                    <button type="submit" name="role" value="staff" class="button-submit">Sign In with Staff</button>
                </div>
                <p class="p">Don't have an account? <a asp-area="" asp-controller="Account" asp-action="Register" class="text-blue">Đăng ký</a>
            </form>
        </div>
    </div>
   
</body>
</html>

